<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
    <fieldset>
      <div class="row">
        <legend class="col-lg-12">Vista de Puesto</legend>
      </div>
      <div class="form-group org-panel">
        <form action="/positions/create" method="POST">
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Número de puesto: </b>
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control" id="inputDefault" name="position_number">
              </div>
            </div>
          </div>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Puesto: </b>
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control" id="inputDefault" name="name">
              </div>
            </div>
          </div>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Área: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="area" name="area" onchange="filterPosElement('direction');">
                  <option value=""></option>                        
                  <% Unit.select(:area_name).group(:area_name).each do |unit| %>
                    <option value="<%= unit.area_name %>"><%= unit.area_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Dirección: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="direction" name="direction" onchange="filterPosElement('subdirection');">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Subdirección: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="subdirection" name="subdirection" onchange="filterPosElement('unit');">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Unidad: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="unit" name="unit_id">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-md-6">
              <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
              <button class="btn btn-primary save-changes" type="submit" >Crear Puesto</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <a href="/positions?search=<%= params[:search] %>">
          <button type="submit" class="btn btn-primary">Volver</button>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<% end %>
