<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
    <fieldset>
      <div class="row">
        <legend class="col-lg-12">Vista de Puesto</legend>
      </div>
      <div class="form-group org-panel">
        <form action="/positions/update" method="POST">
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Número de puesto: </b>
              </div>
              <div class="col-md-4">
                <p><%= @position.position_number %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Puesto: </b>
              </div>
              <div class="col-md-4">
                <p><%= @position.name %></p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Descripción: </b>
              </div>
              <div class="col-md-4">
                <p>Descripción del Puesto*</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Unidad: </b>
              </div>
              <div class="col-md-4">
                <p><%= @position.unit.name %></p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <a href="/positions">
          <button type="submit" class="btn btn-primary">Volver</button>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<% end %>
