<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Esto es un recordatorio</h1>
    <p>
      Implementando servicio email.
    </p>
    <p>Gracias por su colaboración!</p>
  </body>
</html>
