<% if can? :settings, @current_user %>
  <div class="row element-style">
    <div class="col-md-11 form-style">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Configuración de Usuario</legend>
        </div>
        <div class="form-group org-panel">
          <hr>
          <form action="/users/create" method="POST">
            <div class="row edit-row">
              <div class="col-lg-12">

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Nombre: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Primer apellido: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="last_name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Segundo apellido: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="last_name_alt">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Área: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="area" name="area" onchange="filterElement('direction', '/users');">
                        <option value=""></option>                        
                        <% Unit.select(:area_name).group(:area_name).each do |unit| %>
                          <option value="<%= unit.area_name %>"><%= unit.area_name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Dirección: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="direction" name="direction" onchange="filterElement('subdirection', '/users');">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Subdirección: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="subdirection" name="subdirection" onchange="filterElement('unit', '/users');">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Unidad: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="unit" name="unit" onchange="filterElement('position', '/users');">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Puesto: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="position" name="position">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" style="margin-bottom: 10px;">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Número de usuario: </b>
                    </div>
                    <div class="col-md-7">
                      <input class="form-control" id="disabledInput" type="text" name="user_num">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Código Ayre: </b>
                    </div>
                    <div class="col-md-7">
                      <input class="form-control" id="disabledInput" type="text" name="ayre">
                    </div>
                  </div>
                </div>

                <div class="col-md-6" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Email: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="email">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Teléfono: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="phone_number">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>NIF: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="document">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Fecha de comienzo: </b>
                    </div>
                    <div class="col-md-2" style="width: 125px; padding-right: 0px;">
                      <input type="text" class="form-control" id="datepicker_start" name="start_date" style="width: 110px; padding-right: 0px;">
                    </div>
                    <div class="col-md-1" style="padding: 0px;">
                      <button type="button" id="select-date" class="fa fa-calendar tooltip-date" style="padding: 0px;"></button>
                      <button type="button" id="clear-date" class="fa fa-trash-o tooltip-date" style="padding: 0px;"></button>
                      <div id="tooltip1"><span>Seleccionar fecha</span></div>
                      <div id="tooltip2"><span>Eliminar fecha</span></div>
                      <script>
                        $("#tooltip1").hide();
                        $("#tooltip2").hide();
                        $("#select-date").on("mouseover", function(){
                          $("#tooltip1").show();
                        });
                        $("#select-date").on("mouseout", function(){
                          $("#tooltip1").hide();
                        });
                      </script>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Fecha de fin: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="datepicker_end" name="end_date" style="width: 110px;">
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr>
            <div class="row edit-row">
              <div class="col-md-6">
                <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                <button class="btn btn-primary save-changes" type="submit" >Crear Usuario</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <a href="/users?search=<%= params[:search] %>">
            <button type="submit" class="btn btn-primary">Volver</button>
          </a>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>