<div class="row element-style">
  <div class="col-md-5 col-md-offset-4">
    <div class="row">
      <img id="ayto-logo" src="/assets/ayto.png">
    </div>
    <div class="row">
      <a href="/settings" class="btn btn-primary btn-lg btn-index">Configuración</a>
      <a href="/tracking" class="btn btn-primary btn-lg btn-index">Seguimiento</a>
    </div>
  </div>
</div>
