<div class="row element-style">
  <div class="col-md-5 col-md-offset-3">
    <form class="form-horizontal">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Administración</legend>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <label for="select" class="col-lg-12 control-label">Porcentaje de respuestas de la encuesta</label>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Unidad</th>
                    <th>Respondido</th>
                    <th>Barra porcentual</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Unidad 1</td>
                    <td>40%</td>
                    <td>
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Unidad 2</td>
                    <td>30%</td>
                    <td>
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Unidad 3</td>
                    <td>10%</td>
                    <td>
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 10%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Unidad 4</td>
                    <td>80%</td>
                    <td>
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-12 control-label">Envío de correro recordatorio</label>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  Unidad 1
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Unidad 2
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Unidad 3
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Unidad 4
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="col-md-6 col-md-offset-3">
      <a href="/">
        <button type="submit" class="btn btn-primary btn-lg">Volver</button>
      </a>
      <a href="/show_mail">
        <button type="submit" class="btn btn-success btn-lg">Enviar correo</button>
      </a>
    </div>
  </div>
</div>
