<% if @current_user %>
  <div class="row element-style">
      <div class="row">
        <div class="col-md-11 form-style">
          <div class="main-title">
            <h1 id="welcome-title"><%= @greeting %>,  <%= @title %>!</h1>
          </div>
          <br>
            <% if @current_user.superadmin? || @current_user.admin? %>
            <div class="welcome-settings-panel">
              <% if @current_user.position %>
                <div class="col-md-6 settings-col">
                  <a href="/surveys">
                    <div class="thumbnail welcome-panel-left">
                      <div>
                        <i class="fa fa-pencil-square-o"></i>
                      </div>
                      <div class="caption">
                        <h4 id="h4-settings">Cuestionarios</h4>
                      </div>
                    </div>
                  </a>
                </div>
              <% end %>
              <div class="col-md-6 settings-col">
                <a href="/admin">
                  <div class="thumbnail welcome-panel">
                    <div>
                      <i class="fa fa-cogs"></i>
                    </div>
                    <div class="caption">
                      <h4 id="h4-settings">Administración</h4>
                    </div>
                  </div>
                </a>
              </div>
            <% elsif  @current_user.respondent? %>
              <div class="respondent-settings-panel">
                <div class="col-md-6 settings-col">
                  <a href="/surveys">
                    <div class="thumbnail welcome-panel-left">
                      <div>
                        <i class="fa fa-pencil-square-o"></i>
                      </div>
                      <div class="caption">
                        <h4 id="h4-settings">Cuestionarios</h4>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<% end %>
