<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <a href="/survey" class="btn btn-success btn-lg btn-index">Empezar</a>
    <a href="/admin" class="btn btn-info btn-lg btn-index">
      <i class="fa fa-cogs fa-6" aria-hidden="true"></i>
    </a>
  </div>
</div>
