<% if can? :settings, @current_user %>
  <div class="row element-style">
    <div class="row">
      <div class="col-md-11 form-style">
        <div class="settings-title">
          <h1>Configuración</h1>
        </div>
        <br>
        <div class="settings-panel">
          <div class="col-md-2 settings-col">
            <a href="/campaigns?per_page=10">
              <div class="thumbnail">
                <div>
                  <i id="campaigns-icon" class="fa fa-flag"></i>
                </div>
                <div class="caption">
                  <h4 id="h4-settings">Campañas</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 settings-col">
            <a href="/units?per_page=10">
              <div class="thumbnail">
                <div>
                  <i id="units-icon" class="fa fa-users"></i>
                </div>
                <div class="caption">
                  <h4 id="h4-settings">Unidades</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 settings-col">
            <a href="/positions?per_page=10">
              <div class="thumbnail">
                <div>
                  <i id="positions-icon" class="fa fa-briefcase"></i>
                </div>
                <div class="caption">
                  <h4 id="h4-settings">Puestos</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 settings-col">
            <a href="/functions?per_page=10">
              <div class="thumbnail">
                <div>
                  <i id="functions-icon" class="fa fa-list"></i>
                </div>
                <div class="caption">
                  <h4 id="h4-settings">Funciones</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 settings-col">
            <a href="/users?per_page=10">
              <div class="thumbnail">
                <div>
                  <i id="users-icon" class="fa fa-user-circle-o"></i>
                </div>
                <div class="caption">
                  <h4 id="h4-settings">Usuarios</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 settings-col">
            <a href="/responses?per_page=10">
              <div class="thumbnail">
                <div>
                  <i id="responses-icon" class="fa fa-book"></i>
                </div>
                <div class="caption">
                  <h4 id="h4-settings">Respuestas</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <a href="/admin">
            <button type="submit" class="btn btn-primary btn-settings">Volver</button>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
