<% if can? :settings, @current_user %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-3">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <% if @current_user.superadmin_role? %>
          <a href="/campaigns" class="btn btn-default btn-lg btn-index">Campañas</a>
          <a href="/units" class="btn btn-default btn-lg btn-index">Unidades</a>
          <a href="/positions" class="btn btn-default btn-lg btn-index">Puestos</a>
          <a href="/functions" class="btn btn-default btn-lg btn-index">Funciones</a>
          <a class="btn btn-danger btn-lg btn-index wip">Encuestados</a>
          <a class="btn btn-danger btn-lg btn-index wip">Respuestas</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('.wip').click(function(){
        swal(
            'Oops...',
            'Estamos trabajando en ello...!',
            'error'
        )
    });
</script>
