<% if can? :settings, @current_user %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <img id="ayto-logo-admin" src="/assets/ayto.png">
      </div>
      <div class="row">
        <% if @current_user.superadmin_role? %>
          <a href="/settings_campaigns" class="btn btn-info btn-lg btn-index">Campañas</a>
          <a href="/positions" class="btn btn-info btn-lg btn-index">Puestos</a>
          <a href="/units" class="btn btn-info btn-lg btn-index">Unidades</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
