<% if @current_user.position == nil || @current_user.position.unit.campaign.status == 'completed' %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <h1>No tienes campañas activas</h1>
        </div>
        <a href="/">
          <button type="submit" class="btn btn-primary" id="n-survey-btn">Volver</button>
        </a>
      </div>
    </div>
  </div>
<% else %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-3">
          <a href="/responses/show" id="btn-surveys" class="btn btn-success btn-lg btn-a"><%= @current_user.position.unit.campaign.name %></a>
        </div>
      </div>
    </div>
  </div>
<% end %>
