<% if @current_user.position == [] %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <h1>No tienes campañas activas</h1>
        </div>
        <a href="/">
          <button type="submit" class="btn btn-primary" id="n-survey-btn">Volver</button>
        </a>
      </div>
    </div>
  </div>
<% else %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-2">
          <ul>
            <% @current_user.position.each do |position| %>
              <li><a href="/surveys/show" id="btn-surveys" class="btn btn-success btn-lg btn-a">
                <%= position.name %>
              </a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
