<% if @render == false %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4 survey-icon">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <h1>No tienes campañas activas</h1>
        </div>
        <a href="/">
          <button type="submit" class="btn btn-primary" id="n-survey-btn">Volver</button>
        </a>
      </div>
    </div>
  </div>
<% else %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4 survey-icon">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-2">
          <ul>
            <% position = @current_user.position %>
            <% if position.unit.campaign.status == "active" && position.functions.first.responses == [] %>
              <a href="/surveys/show?id=<%= + position.id %>">
                <button type="button" class="btn btn-lg btn-primary">
                  <%= position.position_number %> - <%= position.name %>
                </button>
              </a>
              <% else %>
              <h2>No tienes campañas activas</h2>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6">
          <a href="/">
            <button type="submit" class="btn btn-primary btn-surveys">Volver</button>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
