<div class="row element-style">
  <div class="col-md-8 col-md-offset-2">
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" style="width: 45%"></div>
    </div>
    <form class="form-horizontal">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Encuesta 1</legend>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <label for="select" class="col-lg-12 control-label">Instrucciones de cumplimentación de la encuesta</label>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-striped table-hover ">
                <thead>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>Instrucción 1...</td>
                  </tr>
                  <tr>
                    <td>Instrucción 2...</td>
                  </tr>
                  <tr>
                    <td>Instrucción 3...</td>
                  </tr>
                  <tr>
                    <td>Instrucción 4...</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-12 control-label">¿En qué ha destinado el tiempo el último trimestre?</label>
          </div>
          <div class="row">
            <table class="table table-striped table-hover ">
              <thead>
                <th></th>
                <th>% Tiempo</th>
                <th>Nº de tareas</th>
                <th>Tiempo mínimo</th>
                <th>Tiempo medio</th>
                <th>Tiempo máximo</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">
                        Análisis
                      </label>
                    </div>
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Desarrollo
                      </label>
                    </div>
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Gestión
                      </label>
                    </div>
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Resolución de incidencias
                      </label>
                    </div>
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-12 control-label">Otras tareas realizadas: </label>
          </div>
          <div class="row">
            <table class="table table-striped table-hover ">
              <thead>
                <th></th>
                <th>Tarea</th>
                <th>% Tiempo</th>
                <th>Nº de tareas</th>
                <th>Tiempo mínimo</th>
                <th>Tiempo medio</th>
                <th>Tiempo máximo</th>
              </thead>
              <tbody id="other-tasks">
                <tr>
                  <td>
                    <td>
                      <input class="form-control input-sm task" type="text" id="inputSmall" placeholder="Otra tarea">
                    </td>
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                  <td>
                    <input class="form-control input-sm" type="text" id="inputSmall">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="reset" class="btn btn-danger pull-right" id="remove-task">Eliminar tarea</button>
          <button type="reset" class="btn btn-primary pull-right" id="add-task">Añadir tarea</button>
        </div>
      </fieldset>
    </form>
      <div class="col-md-7">
        <a href="/surveys">
          <button type="reset" class="btn btn-info">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-success" id="submit-survey">Enviar encuesta</button>
    </div>
  </div>
</div>

<script>
    $("#add-task").click(function() {
      taskTemplate = '<tr class="task-row"><td><td><input class="form-control input-sm" type="text" id="inputSmall" placeholder="Otra tarea"></td></td><td><input class="form-control input-sm" type="text" id="inputSmall"></td><td><input class="form-control input-sm" type="text" id="inputSmall"></td><td><input class="form-control input-sm" type="text" id="inputSmall"></td><td><input class="form-control input-sm" type="text" id="inputSmall"></td><td><input class="form-control input-sm" type="text" id="inputSmall"></td></tr>'
      if($(".task-row").length < 2) {
        $("#other-tasks").append(taskTemplate);
      }
    })

    $("#remove-task").click(function() {
      if($(".task-row").length >= 1) {
        $(".task-row").last().remove()
      }
    })

    $("#submit-survey").click(function() {
      swal("Gracias!", "La encuesta se ha enviado correctamente!", "success");
    })

</script>
