<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-8 col-md-offset-2">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Configuación</legend>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <label for="select" class="col-lg-12 control-label">Administración de campañas</label>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                      <th>Campaña</th>
                      <th>Estado</th>
                      <th>Nivel de respuesta</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @campaigns.each do |campaign| %>
                      <form action="/campaigns/update" method="POST">
                        <tr>
                          <td>
                            <input type="text" class="form-control" id="inputDefault" name="campaign_number" value="<%= campaign.name %>">
                          </td>
                          <% if campaign && campaign.active == true %>
                            <td>
                              <select class="form-control" id="select">
                                <option selected="selected">Activa</option>
                                <option> Pendiente... </option>
                                <option> Completada</option>
                              </select>
                            </td>
                            <td>
                              <div class="progress progress-striped campaign-progress">
                                <div class="progress-bar progress-bar-success" style="width: 50%"></div>
                              </div>
                            </td>
                          <% elsif campaign && campaign.pending == true %>
                            <td>
                              <select class="form-control" id="select">
                                <option selected="selected">Pendiente...</option>
                                <option> Activa </option>
                                <option> Completada</option>
                              </select>
                            </td>
                            <td>
                              <div class="progress progress-striped campaign-progress">
                                <div class="progress-bar progress-bar-success" style="width: 0%"></div>
                              </div>
                            </td>
                          <% elsif campaign && campaign.completed == true %>
                            <td>
                              <select class="form-control" id="select">
                                <option selected="selected">Completada</option>
                                <option> Activa </option>
                                <option> Pendiente...</option>
                              </select>
                            </td>
                            <td>
                              <div class="progress progress-striped campaign-progress">
                                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                              </div>
                            </td>
                          <% end %>
                          <td>
                            <input type="hidden"value="<%= campaign.id %>" name="id"/>
                            <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                            <button class="btn btn-default save-changes" type="submit" >Guardar cambios</button>
                            <button type="button" class="btn btn-default">
                              <%= link_to "Eliminar", {action: 'delete',id: campaign.id} %>
                            </button>
                          </td>
                        </tr>
                      </form>
                    <% end %>
                  </tbody>
                </table>
              <div class="col-md-6">
                <a href="/campaigns/new">
                  <button type="button" class="btn btn-success">Añadir campaña</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    <div class="col-md-6">
      <a href="/settings">
        <button type="submit" class="btn btn-info">Volver</button>
      </a>
    </div>
  </div>
</div>
<% end %>

<script>
    (function(){
        if( window.localStorage ){
            if( !localStorage.getItem( 'firstLoad' ) ){
              localStorage[ 'firstLoad' ] = true;
              window.location.reload();
            }
        else
          localStorage.removeItem( 'firstLoad' );
        }
    })();
</script>
