<!DOCTYPE html>
<html>
<head>
  <title>CargaBackend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Carga de trabajo prototipo</a>
    </div>
    <div class="navbar-right">
      <a class="navbar-brand">Daniel Nacenta Mora, DNM020</a>
    </div>
  </div>
</nav>
</header>
<body>

<%= yield %>

</body>
</html>
